<ion-content [fullscreen]="true" class="content-background">
  <div class="container">
    <div class="logo-container">
      <ion-img src="/assets/icon/image (1).png" class="logo animated-logo" style="width: 200px; height: auto;"></ion-img>
      <p class="welcome-text">¡BIENVENIDO AL TOPICO!</p>
      <p class="university-text">Universidad name </p>
    </div>
  </div>

  <div class="button-container">
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
     
      <ion-button color="secondary" routerLink="captcha" class="rectangular-button student-button">
        <ion-icon name="person" slot="start"></ion-icon>
        Estudiante
      </ion-button>
    </ion-fab>
  </div>
</ion-content>